# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
1_n_chairs_camera/bin/1_n_chairs_camera
1_n_chairs_camera/bin/data/chainer-caption/data/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
